/arch/mkosi.cache
/arch/mkosi.extra/etc/skel
/arch/mkosi.output
/centos-stream-8/mkosi.cache
/centos-stream-8/mkosi.output
/centos-stream-9/mkosi.cache
/centos-stream-9/mkosi.extra/etc/skel
/centos-stream-9/mkosi.output
/debian/mkosi.cache
/debian/mkosi.extra/etc/skel
/debian/mkosi.output
/fedora/mkosi.cache
/fedora/mkosi.extra/etc/skel
/fedora/mkosi.output
/opensuse/mkosi.cache
/opensuse/mkosi.extra/etc/skel
/opensuse/mkosi.output
/ubuntu/mkosi.cache
/ubuntu/mkosi.extra/etc/skel
/ubuntu/mkosi.output
